In [3]:
import pandas as pd
import random

In [4]:
# Connecting to Google Drive
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [5]:
df = pd.read_excel('/content/gdrive/MyDrive/Dengue2/MVH22 DATASET/Final 2_sadia.xlsx',header=0, parse_dates=[0],index_col=0, squeeze=True)
df

,City,Temperature,Precipitation,Capacity,Current Free Seats,Possible Free Seats (forecasted)
Date,,,,,,
2020-01-01,Colombo,24.03,26.38,3649.016353,18.954179,338
2020-01-02,Colombo,28.66,27.07,3649.016353,11.423352,114
2020-01-03,Colombo,23.76,27.81,3649.016353,0.432766,390
2020-01-04,Colombo,25.90,25.94,3649.016353,11.937196,366
2020-01-05,Colombo,27.09,27.28,3649.016353,1.968032,205
...,...,...,...,...,...,...
2020-11-27,Kalminai,24.07,209.17,1130.486093,161.198172,48
2020-11-28,Kalminai,25.76,206.05,1130.486093,19.280930,181
2020-11-29,Kalminai,28.68,207.11,1130.486093,179.302018,536
2020-11-30,Kalminai,24.56,210.02,1130.486093,329.819724,249
2020-12-01,Kalminai,27.62,350.97,1130.486093,0.000000,234

In [6]:
cities = df['City'].unique().tolist()

In [8]:
city_dfs=[]
for city in cities:
  city_df = df.groupby('City').get_group(city)
  city_df = city_df.loc[city_df.index >= '2020-02-01']
  city_df = city_df.loc[city_df.index < '2020-02-07']
  city_dfs.append(city_df)
test_df = pd.concat(city_dfs,axis=0)

test_df.to_csv('/content/gdrive/MyDrive/Dengue2/MVH22 DATASET/test.csv')

In [9]:
test_df

,City,Temperature,Precipitation,Capacity,Current Free Seats,Possible Free Seats (forecasted)
Date,,,,,,
2020-02-01,Colombo,27.16,37.28,3649.016353,27.717506,0
2020-02-02,Colombo,25.54,37.29,3649.016353,16.695900,102
2020-02-03,Colombo,27.62,40.96,3649.016353,3.447328,239
2020-02-04,Colombo,27.84,37.89,3649.016353,23.067563,245
2020-02-05,Colombo,28.73,35.71,3649.016353,1.810390,230
...,...,...,...,...,...,...
2020-02-02,Kalminai,25.54,37.29,1130.486093,39.752025,50
2020-02-03,Kalminai,27.62,40.96,1130.486093,16.197997,1
2020-02-04,Kalminai,27.84,37.89,1130.486093,17.994460,178
2020-02-05,Kalminai,28.73,35.71,1130.486093,6.640620,404
2020-02-06,Kalminai,25.45,35.96,1130.486093,36.271463,237